#circle{
    height: 500px;
    width: 500px;
    position: relative;
    top: 30%;
    left: 5%;
    background-color: aqua;
    float: left;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 30px;
}
p{
    
    line-height: 20px;
    font-size: 20px;
}