#circle{
    height: 500px;
    width: 500px;
    position: relative;
    margin-top: 100px;
    background-color: aqua;
    float: left;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%) border-box;
}
p{
    
    line-height: 20px;
    font-size: 20px;
}