body{
    padding: 0;
    margin: 0;
}
.top{
    /* width: 50vw;
    background-color:aqua;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; */
    margin-left: 580px;
    border-radius: 40px;
    border-left-width: 10px;
    border-left-color:black;
    border-left-style: solid;
    width: 50vw;
    height: 10vw;
}
.bottom{
    border-right-width: 10px;
    border-radius: 40px;
    border-right-color:black;
    border-right-style: solid;
    width: 50vw;
    height: 10vw;
}